<style>
    select {
        font-size: 30pt;
    }

    input[type=checkbox] {
        transform: scale(2);
    }

    button {
        font-size: 42pt;
        margin: 5%;
    }

    .checkboxes {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox {
        font-size: 30px;
        display: inline-block;
        width: 7%;
    }
</style>

<div id="app">
    <div>装着する部位を選択　現在選択されている歯: {{ pos+""+num }}</div>

    <select v-model="pos">
        <option disabled value="">装着する部位</option>
        <option value=1>右上</option>
        <option value=2>左上</option>
        <option value=3>左下</option>
        <option value=4>右下</option>
    </select>
    <select v-model="num">
        <option diabled value=""> 歯番</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
    <div>

        <br>
        残存歯：欠損歯はチェックを外す　ポンティックは歯があるものとして扱う
    </div>
    <div class="checkboxes">
        <div v-for="key in keys" class="checkbox">
            <div v-if="key == pos+''+num">
                <strong>★</strong>
            </div>
            <div v-else>

                <input type="checkbox" :id="items[key].id" v-model="items[key].checked" />
                <label :for="items[key].id">{{ items[key].label }}</label>
            </div>
        </div>
    </div>
    <br> <button v-on:click="check">check</button>
    <h1>{{ result }}</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            pos: 1, // 装着部位 1:右上, 2:左上, 3:左下, 4:右下 初期値右上
            num: 6, // 歯番 初期値6番
            keys: [
                "17", "16", "15", "14", "13", "12", "11",
                "21", "22", "23", "24", "25", "26", "27",
                "47", "46", "45", "44", "43", "42", "41",
                "31", "32", "33", "34", "35", "36", "37",
            ],
            items:
            {
                "17": { label: "7", checked: true },
                "16": { label: "6", checked: true },
                "15": { label: "5", checked: true },
                "14": { label: "4", checked: true },
                "13": { label: "3", checked: true },
                "12": { label: "2", checked: true },
                "11": { label: "1", checked: true },
                "21": { label: "1", checked: true },
                "22": { label: "2", checked: true },
                "23": { label: "3", checked: true },
                "24": { label: "4", checked: true },
                "25": { label: "5", checked: true },
                "26": { label: "6", checked: true },
                "27": { label: "7", checked: true },
                "47": { label: "7", checked: true },
                "46": { label: "6", checked: true },
                "45": { label: "5", checked: true },
                "44": { label: "4", checked: true },
                "43": { label: "3", checked: true },
                "42": { label: "2", checked: true },
                "41": { label: "1", checked: true },
                "31": { label: "1", checked: true },
                "32": { label: "2", checked: true },
                "33": { label: "3", checked: true },
                "34": { label: "4", checked: true },
                "35": { label: "5", checked: true },
                "36": { label: "6", checked: true },
                "37": { label: "7", checked: true },
            },
            result: "ここに結果が表示されます"
        },
        methods: {
            check: function () {
                let items = this.items;
                items = JSON.parse(JSON.stringify(items))
                let num = this.num;
                let pos = Number(this.pos);
                if (num <= 3) {
                    this.result = "CAD/CAM冠（Ⅳ）";
                    return
                } else if (num <= 5) {
                    this.result = "CAD/CAM冠(Ⅰ)またはCAD/CAM冠(Ⅱ)";
                    return
                } else {
                    let other_pos = pos + (-1) ** (pos + 1); //左右の反対側
                    let opp_pos = pos + (-1) ** (pos > 2) * 2; //対合
                    let diag_pos = opp_pos + (-1) ** (opp_pos + 1); //反対側の対合
                    let is_checked = (pos, num) => { return items[pos + "" + num].checked };
                    // 以下デバッグ用
                    console.log("pos, opp_pos, other_pos, diag_pos = ", pos, opp_pos, other_pos, diag_pos);
                    console.log("同側6咬合支持", (is_checked(pos, 6) && is_checked(opp_pos, 6)));
                    console.log("同側7咬合支持", (is_checked(pos, 7) && is_checked(opp_pos, 7)));
                    console.log("反対6咬合支持", (is_checked(other_pos, 6) && is_checked(diag_pos, 6)));
                    console.log("反対7咬合支持", (is_checked(other_pos, 7) && is_checked(diag_pos, 7)));
                    // 反対側の大臼歯咬合支持が無いならだめ
                    if (!((is_checked(other_pos, 6) && is_checked(diag_pos, 6)) ||
                        (is_checked(other_pos, 7) && is_checked(diag_pos, 7)))) {
                        this.result = "CAD/CAM冠(Ⅴ) ※反対側の咬合支持なし";
                        return
                    }
                    // 同側に咬合支持が無いならだめ
                    else if (!((num == 6 && is_checked(pos, 7) && is_checked(opp_pos, 7)) ||
                        (num == 7 && is_checked(pos, 6) && is_checked(opp_pos, 6)))
                    ) {
                        // でも対合がなくて、隣在歯（まで？）に咬合支持があるならOK
                        if (!is_checked(opp_pos, num) && is_checked(pos, num - 1) && is_checked(opp_pos, num - 1)) {
                            this.result = "CAD/CAM冠(Ⅲ) ※隣在歯に咬合支持？"
                            return
                        }
                        this.result = "CAD/CAM冠(Ⅴ) ※同側の咬合支持なし"
                        return
                    }
                    else {
                        this.result = "CAD/CAM冠(Ⅲ)"
                        return
                    }
                }
            }
        }
    });
</script>